<html>
   <body>
	  <h1> This prediction is only for AI academic purpose, please do not use this prediction for medical/health purpose</h1>
      {% if result %}
      <img src="{{ url_for('static', filename=image) }}" alt="x-ray"></img>
      <h1> chest x-ray image is predicted as {{result}}</h1>
      {% endif %}
      
      <form action = "/predict" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html>
